---
import Layout from '../layouts/Layout.astro';
import mejson from '../assets/me.json';

let me = mejson; 
---

<Layout>
	<section class="hero">
		<h1 class="nombre">{mejson.nombre}</h1>
		<h2 class="profesion">{mejson.profesion}</h2>
		<p>{mejson.bio}</p>
	</section>

	<section>
		<h3>Experiencia</h3>
		{mejson.experiencia.map((exp)=> ( 
			<article class="experiencia">
			<p class="exp-titulo">{exp.titulo}</p>
			<p class="exp-descripcion">{exp.descripcion}</p>
			<p class="exp-fecha">{exp.fecha}</p>
			</article>
			
		))}
		
	</section>

	<section>
		<h3>Habilidades</h3>
		<div class="habilidad-container">
			{mejson.habilidades.map ((hab)=> ( 
				<article class="habilidad">
					<p>{hab}</p>
				</article>
			))}
		</div>
		
	</section>
</Layout>
